
/data
/.idea
/__pycache__
/log/buyATC-sellATC-weekly/*.log
/log/buyATC-sellATC-weekly/BlueChips/*.log
/Seasonal/.ipynb_checkpoints/
/tracking-history.log
/cophieu68/*
/.eggs/
/dist/
/Zuongthao_Quant_Trading.egg-info/
venv
.ipynb_checkpoints
*.csv
*.html
.env
/vn_realtime_stock_data/__pycache__
neat-checkpoint-*
winner.pkl
*.pyc
.DS_store
.vscode
*token.json
*credentials.json
*telegram_api.json
*worker.json
*worker.pl
